<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>MyDevDiaries</h3>
            <p>Documenting my journey in webdevelopment</p>
        </div>

        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../pages/about.html">About</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Contact</h3>
            <p>Email: your.email@example.com</p>
            <p>Website: You're on it, buddy!</p>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2026 My DevDiaries. All Rights Reserved</p>
        </div>
    </div>
</footer>